:root {
    --color-primary: #AD343E;
    --color-secondary: #2C2F24;
    --color-tertiary: #F9F9F7;
    --dark-grey: #474747
    
    --front-text:"DM Sans", sans-serif;
    --title-text: "Playfair Display", serif;

    --font-base: 1rem;
    --font-sm: calc(var(--font-base * 1.5))rem;
    --font-md: calc(var(--font-base * 2))rem;
    --font-lg: calc(var(--font-base * 2.5))rem;



}