body {
    font-family: var(--front-text) background-color #f9f9f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-text);
    font-weight: 400;
}

.container {
    max-width: 81rem;
    margin: 0 auto;
}

.bg-grey {
    background-color: var(--color-tertiary);
}

.bg-dark-grey {
    background-color: var(--color-dark-grey);
}