body {
    font-family: var(--front-text)
    background-color #f9f9f7;
} h1,
h2,
h3,
h4,
h5,
h6{
    font-family: var(--font-title);
    font-weight: 400;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}