.bg-green {
    background-color: red;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-green, #bde261);
    color: white;
}

.contact-me a {
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}

.me-info{
    display: flex;
    align-items: center;
    gap: 25px;
}

.my-redes {
    display: flex;
    align-items: center;   
    gap: 4px; 
}

.main-menu { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
 .logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu-list a {
    display: flex;
    color: #2C2F24;
}

.bottom-bar {
    background-color: #474747;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}   