.hero-banner {
    justify-content: center;
    display: flex;
    align-items: center;
    background-image:linear-gradient(rgb(255 255 255 / 0.3), rgb(255 255 255 / 0.3)),url("/imagenes/Hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:var(--front-text);
}

.hero-banner-content {
    max-width: 42rem;
    padding: 12.5rem 0;
    text-align: center;
}

.hero-banner-title {
    font-size: 6.25rem;
    font-family: var(--title-text);
}

.hero-banner-desc {
    justify-content: center;
    font-size: 1.25rem;
    margin: 1.5rem 0 2.5rem;
}       

.hero-banner-button {
    display: flex;
    justify-content: center;
    gap: 1rem;
}