.opinions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 7.5rem;
  gap: 4rem;
}

.opinion-title {
  color: var(--secondary, #182226);
  text-align: center;
  font-size: 3.4375rem;
  font-weight: 500;
  line-height: 110%;
  font-family: var(--title-text);
}

.opinions-cards {
  display: flex;
  gap: 1.5rem;
  align-content: flex-start;
  align-items: flex-start;
}

.opinions-card {
  display: flex;
  flex-direction: column;
  width: 26rem;
  height: 25.5rem;
  padding: 3rem;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.75rem;
  background-color: var(--color-tertiary);
}

.opinion-card-title {
  color: var(--primary, #AD343E);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.045rem;
  font-family: var(--front-text);
}

.opinion-card-desc {
  width: 21.625rem;
  color: var(--color-font-secondary);
  font-family: var(--front-text);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 155%;
}

.opinion-card-desc::after {
  content: "";
  display: block;
  height: 0.0625rem;
  opacity: 0.7;
  background-color: #DBDFD0;
  margin-block: 32px;
}

.opinion-card-author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


.opinion-card-author-img {
  width: 4.875rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-inline-end: 1rem;
}

.opinion-card-author-name {
  color: var(--color-font);
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
}

.opinion-card-author-city {
  color: var(--color-font-secondary);
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}